<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>sender</title>
</head>
<body>
<div id="app">
    <el-main>
        <el-row>
            <el-form :inline="true" :model="formInLine" class="demo-form-inline">
                <el-form-item>
                    <el-select placeholder="搜索类型" v-model="formInLine.type">
                        <el-option label="发送者" value="发送者"></el-option>
                        <el-option label="内容" value="内容"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item>
                    <el-input placeholder="关键字" v-model="formInLine.content"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" icon="el-icon-search" @click="getMessage">查询</el-button>
                </el-form-item>
            </el-form>

        </el-row>

        <el-table :data="messages"
                  style="width: 100%"
                  stripe>
            <el-table-column prop="messageId" label="编号" align="center" width="140">
            </el-table-column>
            <el-table-column prop="content" label="内容" align="center">
            </el-table-column>
            <el-table-column prop="sender" label="发送者" align="center">
            </el-table-column>
            <el-table-column prop="sendTime" label="发送时间" align="center" width="200">
            </el-table-column>
            <el-table-column prop="status" label="状态" align="center" width="120">
            </el-table-column>
            <el-table-column label="操作" align="center" width="280">
                <template slot-scope="scope">
                    <el-button type="success" size="mini" @click="detail(scope.row)">详情</el-button>
                    <el-button size="mini" @click="answer(scope.row)">回复</el-button>
                    <el-button type="danger" size="mini" @click="deleteMessage(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <!--分页工具条-->
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="pagination.currentPage"
                :page-sizes="[5, 10, 15]"
                :page-size="5"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pagination.total">
        </el-pagination>
    </el-main>


    <!--发送消息对话框-->
    <el-dialog title="发送消息" :visible.sync="dialogVisible4Send" width="40%" center>
        <!--对话框中的表单(新增帖子)-->
        <el-form ref="formSendMessage"
                 :model="sendMessageData"
                 label-width="150px">
            <el-form-item label="接收者:">
                <el-input readonly v-model="sendMessageData.receiver"></el-input>
            </el-form-item>
            <el-form-item label="内容:">
                <el-input v-model="sendMessageData.content" type="textarea" :autosize="{ minRows: 5, maxRows: 5 }"></el-input>
            </el-form-item>
            <el-form-item>
                <el-upload
                        class="file"
                        action="http://127.0.0.1:7001/express-user/upload"
                        :http-request="uploadImage"
                        :limit="3"
                        :file-list="files"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        list-type="picture">
                    <el-button size="small" type="primary">上传图片</el-button>
                    <div slot="tip" class="el-upload__tip">限上传3张图片，且不超过10MB</div>
                </el-upload>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="sendMessage()">确认</el-button>
                <el-button @click="dialogVisible4Add = false;resetForm()">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!--消息详情对话框-->
    <el-dialog title="消息详情" :visible.sync="dialogVisible4Detail" width="40%" center>
        <el-form ref="formDetailMessage"
                 :model="detailData"
                 label-width="150px">
            <el-form-item label="接收者:">
                <el-input readonly v-model="detailData.receiver"></el-input>
            </el-form-item>
            <el-form-item label="发送时间:">
                <el-input readonly v-model="detailData.sendTime"></el-input>
            </el-form-item>
            <el-form-item label="状态:">
                <el-input readonly v-model="detailData.status"></el-input>
            </el-form-item>
            <el-form-item label="被读时间:">
                <el-input readonly v-model="detailData.receiveTime"></el-input>
            </el-form-item>
            <el-form-item label="内容:">
                <el-input readonly v-model="detailData.content" type="textarea" :autosize="{ minRows: 5, maxRows: 5 }"></el-input>
            </el-form-item>

            <el-form-item>
                <div style="float: left" v-for="picture in detailData.pictures" @click="test(picture)">
                    <img style="height: 100px;float: left" v-bind:src="picture" alt=""/>
                </div>
            </el-form-item>
            <el-form-item>
                <el-button size="mini" @click="answer(scope.row)">回复</el-button>
                <el-button type="primary" @click="dialogVisible4Detail = false;resetForm()">关闭</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <el-dialog :visible.sync="dialogVisible4Photo" width="80%" append-to-body>
        <img width="100%" :src="dialogImageUrl" alt="">
    </el-dialog>


</div>
<script src="../js/vue.js"></script>
<script src="../js/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<link rel="stylesheet" href="../plugins/elementui/index.css">
<script src="../plugins/elementui/index.js"></script>

<script>
    const vue = new Vue({
        el: "#app",
        data: {
            //查询表单数据
            formInLine: {
                type: '', // 搜索类型
                content: '' //搜索内容
            },
            messages: [],
            //发送消息
            sendMessageData: {},
            detailData: {},
            //图片
            files: [],
            photos: [],
            // 当前页码
            pagination: {
                currentPage: 1,
                pageSize: 5,
                total: 0
            },
            pagination4Issue: {
                currentPage: 1,
                pageSize: 5,
                total: 0
            },
            dialogVisible4Detail: false,
            dialogVisible4Photo: false,
            dialogVisible4Send: false,
            dialogImageUrl: ""
        },

        //钩子函数，VUE对象初始化完成后自动执行 /*OK*/
        created() {
            // //调用查询全部
            this.onlineUser = window.parent.getOnlineUser();
            this.getAllMessage();
        },

        methods: {
            resetForm() {
                this.sendMessageData = {}
            },
            answer(row) {
                this.sendMessageData = {
                    receiver: row.sender
                }
                this.dialogVisible4Send = true;
            },
            test(url) {
                this.dialogVisible4Photo = true
                this.dialogImageUrl = url
            },
            /**提交图片*/
            uploadImage(res) {
                const fd = new FormData();
                fd.append("file", res.file);
                axios.post(res.action + "/" + res.file.uid, fd, {'Content-Type': 'multipart/form-data'}).then(r => {
                    this.photos.push(r.data)
                })
            },
            /**预览*/
            handlePreview(file) {
                this.dialogVisible4Photo = true
                this.dialogImageUrl = file.url
            },
            /**删除图片*/
            handleRemove(file) {
                this.photos = this.photos.filter(function (item) {
                    return item !== file.uid;
                })
            },
            sendMessage() {
                if (this.sendMessageData.receiver === "" || this.sendMessageData.receiver === undefined) {
                    this.$notify.error({
                        title: '错误',
                        message: '接收者不能为空!'
                    });
                } else {
                    //检测接收方是否已正常
                    axios.get("/express-user/checkUserHasRegister/" + this.sendMessageData.receiver).then(r => {
                        if (r.data) {//用户已注册
                            /**拼接photo*/
                            let photo = "";
                            for (let i = 0; i < this.photos.length - 1; i++) {
                                photo = photo + this.photos[i] + "#";
                            }
                            photo = photo + this.photos[this.photos.length - 1];
                            this.sendMessageData.photo = photo;
                            if (photo === "undefined")
                                this.sendMessageData.photo = "";
                            this.sendMessageData.sender = this.onlineUser.account;
                            axios.post('/express-user/cross/post?url=http://eureka-client-express-message:7006/express-message/addMessage', this.sendMessageData, {
                                headers: {
                                    'token': '123',
                                    'Content-Type': 'application/json'
                                }
                            }).then(r => {
                                if (r.data.code === 0) {//添加成功
                                    window.parent.sendMessage(this.sendMessageData); // 发送消息
                                    this.$notify({
                                        title: '成功',
                                        message: '发送消息成功',
                                        type: 'success'
                                    });
                                    this.sendMessageData = {}
                                    this.dialogVisible4Send = false;
                                } else {
                                    this.$notify.error({
                                        title: '错误',
                                        message: '发送消息失败'
                                    });
                                }
                            }).finally(() => {
                                this.dialogVisible4Add = false;
                                this.files = []
                                this.photos = []
                                this.getAllMessage();//刷新
                            })
                        } else {
                            this.$notify.error({
                                title: '错误',
                                message: '接收者尚未注册或有违规记录!'
                            });
                        }
                    })
                }
            },
            getAllMessage() {
                console.log("getAllMessage")
                axios.post('/express-user/cross/post?url=http://eureka-client-express-message:7006/express-message/getMessage/' + this.pagination.currentPage + '/' + this.pagination.pageSize + "/" + this.onlineUser.account + "/receiver", {}, {
                    headers: {
                        'token': '123',
                        'Content-Type': 'application/json'
                    }
                }).then(r => {
                    console.log(r.data.data)
                    this.pagination.currentPage = r.data.data.current;
                    this.pagination.pageSize = r.data.data.size;
                    this.pagination.total = r.data.data.total;
                    this.messages = r.data.data.records;
                })
            },
            getMessage() {
                axios.post('/express-user/cross/post?url=http://eureka-client-express-message:7006/express-message/getMessage/' + this.pagination.currentPage + '/' + this.pagination.pageSize + "/" + this.onlineUser.account + "/receiver", this.formInLine, {
                    headers: {
                        'token': '123',
                        'Content-Type': 'application/json'
                    }
                }).then(r => {
                    this.pagination.currentPage = r.data.data.current;
                    this.pagination.pageSize = r.data.data.size;
                    this.pagination.total = r.data.data.total;
                    this.messages = r.data.data.records;
                })
            },
            detail(row) {
                axios.get('/express-user/cross/get?url=http://eureka-client-express-message:7006/express-message/getDetail/' + row.messageId).then(r => {
                    this.detailData = r.data.data;
                    this.dialogVisible4Detail = true;
                })
            },
            deleteMessage(row) {
                this.$confirm('确认删除?', 'Tips', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get('/express-user/cross/get?url=http://eureka-client-express-message:7006/express-message/delete/' + row.messageId).then(r => {
                        this.$message.success("删除成功");
                        this.getMessage();
                    })
                }).catch(() => {
                    this.$message.info("已取消删除");
                })
            },
            <!--分页-->
            handleSizeChange(val) { //切换当前页显示条数
                this.pagination.pageSize = val;
                this.getMessage();
            },
            handleCurrentChange(val) { //切换页码值
                this.pagination.currentPage = val;
                this.getMessage();
            },

            //复选框选中后执行的方法 /*OK*/
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },

        }
    });
</script>
</body>
</html>